/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


.container{
  margin: auto;
}
body {
  background: hsl(218, 23%, 16%);
  color: hsl(193, 38%, 86%);
  font-family: Tahoma;
}

button {
  background: hsl(217, 19%, 24%);
  border: none;
  color: hsl(193, 38%, 86%);
  padding: 10px;
  font-weight: bold;
  border-radius: 1rem;
  font-size: 20px;
  border: 2px solid #fff;
}

.lo {
  display: block;
  width: 100%;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}


input {
  color: hsl(193, 38%, 86%);
  text-align: center;
  border: 2px solid #3D76D0;
  background: hsl(217, 19%, 24%);
  padding: 10px;
  margin: 5px;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 20px;
  width: 200px;
}

input::placeholder {
  color: #ddd;
}

.form {
  width: fit-content;
  margin: 20px auto;
}

.temp {
  background: hsl(217, 19%, 24%);
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
  position: relative;
}


.t {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  left: 20px;
  width: fit-content;
  z-index: 99;

}

.t img {
  position: absolute;
  right: 0;
  top: -15px;
  height: 40px;
  width: 4y0px;
  z-index: 9999;
  transform: translateX(80%);
  display: none;
}

.data {
  position: relative;
  padding: 5px;
  width: 100%;
}

.info {
  background: hsl(217, 19%, 24%);
  border-radius: 6px;
  padding: 10px 5px;
  border-top: 2px solid #3D76D0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  height: 350px;
  overflow: scroll;
  position: relative;
}

.context {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.context > div{
  border-radius: 1rem;
}
.info div:not(.load) {
  min-height: 100px;
  background: hsl(218, 23%, 16%);
  border-radius: 1rem;
  text-align: center;
  border: 1px solid hsl(193, 38%, 86%);
}

.info div p:first-child {
  padding: 10px 0;
  border-bottom: 8px solid #3D76D0;
  height: 45px;
  font-size: 14px;
}

.info div p:last-child {
  font-size: 20px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 10px 5px;
  line-height: 1.4;
}

.err,
.load {
  position: fixed;
  border: 15px solid #3D76D0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.load {
  background: #3D76D0;
  border: 2px solid #fff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: none;
  transform: translate(-50%, -50%) scale(.03);
  animation: spin .5s infinite alternate;
}

.load p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  100% {
    transform: translate(-50%, -50%) scale(1.3)
  }
}

.err {
  width: 250px;
  padding: 20px 5px 10px;
  display: none;
}

.err button {
  width: 150px;
  margin: 25px auto 0;
  border-radius: 1rem;
  border: 3px solid red;
}

.nextdays {
  border: 1px solid #3D76D0;
  border-radius: 1rem;
  background: hsl(217, 19%, 24%);
  padding: 5px;
  width: 95%;
  max-height: 300px;
  overflow: scroll;
}

.nextdays div {
  width: 98%;
  border: 1px solid hsl(193, 38%, 86%);
  border-radius: 2rem;
  background: hsl(218, 23%, 16%);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nextdays div span:nth-child(2) {
  font-size: 1.3em;
  font-weight: bold;
}

.nextdays div img {
  width: 25px;
  height: 30px;
}

@media(min-width: 768px) {
  .info {
    gap: 10px;
  }

  .context {
    flex-direction: row;

  }
.data{
  width: 49%;
}
  .nextdays {
    height: 80%;
    width: 50%;
  }
  .t{
    left: 30%;
    transform: translate(-50%,-100%)
  }
}
